html {
    background-color: #777;
    font-family: Arial, sans-serif;
    color: #ddd;
}

body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #333;
}

tr:nth-child(even) {
    background-color: #333;
}

th {
    background-color: #555;
    color: #aaa;
}

button {
    background-color: #55b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700ff;
}

nav {
    background-color: #2e2e49;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

nav ul li a:hover {
    border-bottom-color: #2200ff;
    background-color: #000;
    color: #3700ff;
    border-radius: 10px;
}

footer {
    background-color: #2e2e49;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #55b;
    transition: background-color 0.3s ease;
}

footer a:hover {
    background-color: #3700ff;
}
